/* ========================= SANS-SERIF FONT ========================= */
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');
/* ========================= SERIF FONT ========================= */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

/* ========================= VARIABLE CSS ========================= */
:root {
    /*========== COLORS ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #46291D;
    --second-color: #F5ECE1;
    --third-color: #303030;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(222, 100%, 2%);
    --container-color: linear-gradient(136deg, #4A2F1E, #3E2723);

    /*========== FONT AND TYPOGRAPHY ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --title-font: "PT Serif", serif;
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    
    --biggest-font-size: 7.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.3rem;
    --big-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.7rem;
    
    /*========== FONT WEIGHT ==========*/
    --small-font-weight: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 800    ;

    /*========== MARGIN ==========*/
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-25: 2.25rem;
    --mb-2-50: 2.5rem;
    --mb-2-75: 2.75rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ========================= GLOBAL CSS ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========================= NAVIGATIONS CSS ========================= */
.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    font-size: 25px;
    background: var(--white-color);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.sitename {
    font-family: var(--title-font);
    font-size: 1.8rem;
    padding: 13px;
    text-transform: uppercase;
}

.sitename a {
    color: var(--black-color);
}

.nav__list hr {
    width: 180px;
}

.nav__menu {
    position: fixed;
    top: 0;
    left: -250px;
    background: var(--white-color);
    height: 100%;
    width: 250px;
    padding: 20px;
    transition: left 0.6s ease;
    z-index: var(--z-fixed);
    box-shadow: 10px 20px 50px 0 rgba(15, 15, 15, 0.08), 0 2px 4px 0 rgba(37, 37, 37, 0.12);
}

.nav__list {
    margin-top: 100px;
    margin-left: 10px;
}

.nav__item {
    margin: 15px 0;
}

.nav__link {    
    color: var(--black-color);
    font-size: 14px;
    text-transform: uppercase;
}

.nav__toggle, .nav__close {
    cursor: pointer;

}

.nav__toggle {
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav__close {
    position: absolute;
    top: 25px;
    left: 25px;
    margin-bottom: 200px;
    color: var(--black-color);
}

.cart__design {
    max-width: 25px;
} 

.logout {
    background-color: white;
    border: none;
    text-transform: uppercase;
    color: var(--black-color);
    font-family: var(--second-font);
    font-size: 14px;
    cursor: pointer;
}
/* ========================= SCROLL BAR ========================= */

::-webkit-scrollbar {
    width: 0.6rem;
    background: var(--container-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: .5rem;
}

/* ========================= MEDIA QUERY MOBILE ========================= */
@media screen and (min-width: 320px) {
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        display: grid;
        width: 100%;
        height: 90vh;
        margin-top: 4.5rem;
        padding: 3rem 1rem;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .box:first-child {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-bg1.jpg);
    }

    .box:nth-child(2) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-bg2.jpg);
    }

    .box:nth-child(3) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-bg3.webp);
    }

    .box:nth-child(4) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-bg4.avif);
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        
    }

    .box h2 {
        color: white;
    }


    .box button {
        margin-top: 1rem;
        background-color: transparent;
        color: white;
        padding: 0.5rem;
        border: solid white 2px;
        transition: 0.4s;
        font-weight: bold;
    }

    .box button:hover {
        background-color: white;
        color: var(--first-color);
        cursor: pointer;
    }

    .back {
        padding: 0 2rem;
    }
 
}

/* ========================= MEDIA QUERY TABLET ========================= */
@media screen and (min-width: 767px) {
    
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .box button {
        padding: 0.8rem;
    }

}

/* ========================= MEDIA QUERY DESKTOP ========================= */
@media screen and (min-width: 992px) {

    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .large{
        grid-row: span 2;
    }
    
}

